body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('assets/home.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    direction: rtl;
}

#home{
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#welcome-text{
    position: absolute;
    font-family: "aharonyRegular";
    font-size: 6vmin;
    width: 60vw;
    right: 2.5vw;
    top: 30vh;
}

#start-button{
    position: absolute;
    width: 20vw;
    height: 9vh;
    background-color: #e0f5ff;
    border-radius: 10px;
    border: 4px solid #303144;
    font-family: "avigulBold";
    color: #303144;
    font-size: 3.5vmax;
    text-align: center;
    padding-top: 1vh;
    top: 68vh;
    right: 4.5vw;
    transition: 0.5s;
    box-shadow: 0 1.2vh 0 #303144;
}

#start-button:hover{
    cursor: pointer;
    box-shadow: 0 0vh 0 #303144;
    border-bottom:4.5px solid #303144;
    top: 70vh;
    background-color: #bfe1f1;
}

#credits-button{
    position: absolute;
    width: 8vw;
    height: 6vh;
    background-color: #e0f5ff;
    border-radius: 10px;
    border: 4px solid #303144;
    font-family: "avigulBold";
    color: #303144;
    font-size: 2vmax;
    text-align: center;
    padding-top: 1vh;
    top: 81vh;
    right: 4.5vw;
    transition: 0.5s;
    box-shadow: 0 .8vh 0 #303144;
}

#credits-button:hover{
    cursor: pointer;
    box-shadow: 0 0vh 0 #303144;
    border-bottom:4.5px solid #303144;
    top: 82vh;
    background-color: #bfe1f1;
}

#credits-image-div {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3031449b;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 99;
}


#close-increase {
    font-size: 3.5vmax;
    font-family: "aharoni";
    font-weight: 900;
    color: #396c84;
    position: absolute;
    background-color: #c9dde6;
    border: #396c84 solid 0.2vw;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 1vw;
    cursor: pointer;
    top: 2%;
    right: 5%;
    animation: close-increase infinite 2s;
    transition: all .5s;
    z-index: 999;
}

#close-increase:hover {
    font-size: 3.7vmax;
}

@keyframes close-increase {
    0% {
        top: 5%;
    }
    50% {
        top: 4%;
    }
    100% {
        top: 5%;
    }
}

#wanted-increase-image {
    height: 72vh;
    width: 90vw;
    max-width: 100vw;
    position: absolute;
    top: 12vh;
    left: 5vw;
}

@font-face {
    font-family: avigulBold;
    src: url(assets/fonts/avigul-bold-fm.098e37816243b45163715f653.86cd763bc8a25b63e23707da1110b42d.woff2);
  }

@font-face {
    font-family: aharonyRegular;
    src: url(assets/fonts/AharoniCLM-Book.ebc8cc40de40352c47f7680e.03b05c30fa65f2e5f5d5877b55186d84.woff2);
  }

.home-title {
    height: 30vh;
    position: absolute;
    top: 2%;
    left: 8%;
    max-width: 90%;

}

#mobile-warning {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 99999;
    background-color: #f4f6f9;
    font-family: avigulBold;
    color: #396c84;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    display: none;
}

#mobile-warning p {
    font-size: 4.5vmax;
    width: 80vw;
    text-align: center;
}

#mobile-warning img {
    height: 25vh;
    max-width: 80vw;
}

#mobile-warning div {
    width: 100vw;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
  #mobile-warning {
    display: block;
  }
}
